# !!!Info important
# Aquest fitxer es un exemple de configuracio per a l'aplicacio backend.
# Per utilitzar-lo, cal que copiar el fitxer i canviar-li el nom a
# "application-local.properties" (sense comes).
# Despres cal crear una variable d'entorn anomenada "SAFESTEPS_DB_PASSWORD"
# amb la contrasenya de la base de dades PostgreSQL.

# Crear variable d'entorn:
# IntelliJ IDEA:
#   Run ->
#   Edit Configurations -> Feu Alt+E (o modify options i cliqueu Environment variables) ->
#   A environment variables poseu: SAFESTEPS_DB_PASSWORD=password

# A windows:
#   setx SAFESTEPS_DB_PASSWORD "password"

#Configuracio de la base de dades PostgreSQL
spring.datasource.url=jdbc:postgresql://vostra_url:port/nom_bd
spring.datasource.username=usuari
spring.datasource.password=${SAFESTEPS_DB_PASSWORD}

#Configurar port deploy
server.port=8080

#Configurar port d'acces als avatars
app.avatars.port=8081

#Configurar api externa i contrassenya admin
api.external.token=token_extern # Ja sigui amb EV o el token
admin.password=PosarContrassenyaAdmin

# Posar el link al arxiu de configuracio de firebase
app.firebase.config=

#Si cadascu te un python diferent utilitzar aixo:
backend.scheduler.python.command=python

# Url del backend
app.backend.url=http://localhost